* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}

button {
    height: 40px;
    width: 200px;
    border-radius: 50px;
    margin: 20px 10px 20px;
    color: white;
    border-style: none;
}

.btn-1 {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 2px 2px 5px hsl(171, 66%, 44%);
}

.btn-2 {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 2px 2px 5px hsl(233, 100%, 69%);
}


.hero-text{
    text-align: center;
}

.first-section {

     i {
         font-size: 76px;
         margin: 25px;
         color: hsl(171, 66%, 44%);
     }

     h1 {
         font-size: 32px;
         color: hsl(201, 11%, 66%);
         margin: 20px;
     }

     p {
         display: inline-block;
         max-width: 700px;
         line-height: 20px;
        margin-bottom: 20px;
     }
     
    }
    

.second-section {
    h2 {
        font-size: 32px;
        margin: 20px;
    }

    p {
        display: inline-block;
        max-width: 700px;
        line-height: 1.6;
       margin-bottom: 100px;
    }

    img {
        width: 720px;
    }

    .img-text {
        float: right;
        text-align: left;
    }
}

.third-section {
    h2 {
        font-size: 32px;
        font-weight: bold;
        margin: 20px;
        color: hsl(201, 11%, 66%);;
    }


}

.fourth-section {
    .card {
        text-align: center;
        display: inline-block;

        img {
            margin: 30px;
        }
        
        p {
            display: inline-block;
            max-width: 300px;
            line-height: 20px;
           margin-bottom: 20px;
        }
    }
}


.sixth-section {
    p {
        display: inline-block;
        max-width: 800px;
        line-height: 1.6;
       margin-bottom: 20px;
    }
}

.seventh-section {
    background-color: rgb(167, 167, 167);
    

    p{
        display: inline-block;
        margin: 20px;
    }

    .logo {
        display: inline-block;
        margin: 20px;
        font-size: 36px;
    }

}
    



@media only screen and (max-width: 600px) {
   
       button {
           width: 300px;
           margin: 10px;
       }
       .btn-2 {
           margin-bottom: 55px;
        }
      
       .img-text {
           text-align: center;
       }

       h2 {
           font-size: 24px;
       }
   

}
